<%# ******************** ページフッター ******************** %>
<div class='header-wrapper'>
  <div class='header-left'>
    <h1><%= link_to 'テニス部ポータル', root_path %></h1>
  </div>
  <div class='header-right'>
    <ul class='header-buttons'>
      <% if @current_user %>
        <li><p>ログイン中 : <%= @current_user.name %> 様</p></li> 
      <% end %>
      <% if @current_user && @current_user.administrator %>
        <li><%= link_to '新規投稿', new_post_path %></li>
        <li><%= link_to '投稿管理', list_posts_path %></li>
        <li><%= link_to 'ユーザー管理', list_users_path %></li>
      <% end %>
        <li><%= link_to 'お知らせ', root_path %></li>
      <% if @current_user %>
        <li><%= link_to 'ログアウト', '/logout', method: :delete %></li>
      <% else %>
        <li><%= link_to 'ログイン', '/login' %></li>
      <% end %>
    </ul>
  </div>
</div>
