<div class='main-wrapper'>
  <%# ***** タイトル ***** %>
  <div class='content-title'>
    <h2><%= @post.title %></h2>
  </div>
  <div class='content-description'>
    作成日 <%= l @post.created_at, format: :tsukihi %>
    <% if @current_user && @current_user.administrator %>
      <%= link_to '投稿の編集', edit_post_path(@post) %>
    <% end %>
  </div>
  <div class='posts'>
    <div class='post'>
      <%= simple_format(@post.content) %>
    </div>
  </div>
  <div class='content-title-small'>
    <h2>コメント</h2>
  </div>
  <div class='posts'>
    <% @comments.each do |comment| %>
      <div class='comment'>
        <div class='comment-commenter'>
          <%= comment.user.name %>
        </div>
        <div class='comment-content'>
          <%= comment.comment %>
        </div>
        <div class='comment-edit'>
          <%= link_to '編集',  %>
        </div>
      </div>
    <% end %>
  </div>

  <div class='posts'>
    <div class='comment-post-form'>
      <p>コメントを投稿する</p>
      <%= form_with model: @comment, url: post_comments_path(@post) , id: 'comment-post-form', class: 'post-form', local: true do |f| %>
        <%= render partial: '/comments/comment_form', locals: { f: f } %>
        <div class='user-form-row'>
          <%= f.submit 'コメントを投稿する', class: 'post-form-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
